streamlit
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.84
langchain-text-splitters==0.3.11
langchain-huggingface==0.1.2
langchain-groq
faiss-cpu
pypdf
huggingface-hub
sentence-transformers
python-dotenv
groq
sqlalchemy
pydantic
requests
python-dotenv==1.1.1
