streamlit
python-dotenv
langchain==0.3.25
langchain_community==0.3.24
langchain_core==0.3.84
langchain_text_splitters==0.3.11
langchain_huggingface
langchain_groq
faiss-cpu
pypdf
huggingface_hub
sentence-transformers
groq
sqlalchemy
pydantic
requests
